@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
body{
	font-family: 'Roboto', sans-serif;
	/* background: #fba919; */
}
h1, h2, h3, h4, h5, h6{
	color: #1d273b;
	font-weight: 300;
}

header::before{
	content: "";
	display: block;
    margin: 10px;
    /* box-sizing: inherit; */
} 

/* ---------------Antes del menu--------------- */
.contenedor {
	display: flex;
	justify-content: space-around;
}
.logo{
	padding: 0 10px;
	width: 50%;
}
.logo >img {
	width: 200px;
	height: 100px;
}

.busqueda{
	display: flex;
	width: 30%;
	padding: 5px 10px; 
	text-align: end;
}

.cont {
	margin-top: 20px;
	display: flex;
	width: 300px;
	height: 30px;
}

form >div .icon-search {
	display: inline-flex;
	padding: 2px;
	height: 100%;
	width: 20px;
	background: #6fce20;
	color: #222022;
}

form >div >input{
	color: #000;
	width: 260px;
	height: 100%;
	border: 1px solid #ccc;
	outline-color: #cecece;
}

/* --------------------------------all menu-------------------------------- */
.default {
	display: none;
}

.hamb {
	display: none;
}

nav{
	width: 100%;
	height: auto;
	background: #6fce20;
	border-bottom: 1px solid transparent;
	box-shadow: 1px 1px 10px 0 rgba(103, 103, 103, 0.2);
	white-space: pre-wrap;
}

.carrito {
	/* visibility: hidden; */
	font-size: 26px;
	text-align: center;
	position: fixed;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: #222022;
	padding: 6px 4px 0 0;
	transition: ease-in-out 0.7s;
	/* background: chartreuse; */
	z-index: 10;
	right: 30px;
}
/* -----------------tabla del carrito de compras----------------- */
.header{
	font-size: 35px;
	text-align: center;
	width: 100%;
	height: 120px;
	background: #cecece;
}
.header >.shopcar {
	padding-top: 10px;
	width: 120px;
	height: 100px;
	
}
.cuerpocar {
	display: inline-flex;
	justify-content: space-between;
}
.tablaCarrito{
	margin-top: 20px;
	/* margin-left: 30px; */
	border-collapse: collapse;
}
.cbx {
	width: auto;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
.cbx>input {
	display: inline-flex;
	width: 15px;
	height: 15px;
}
.tablaCarrito tr:nth-child(even) {
	background-color: #eee;
}
.tablaCarrito tr:nth-child(2) {
	background-color: #eee;
}
.tablaCarrito tr:nth-child(odd) {
	background-color: #fff;
}
.trH>td {
	text-align: center;
	background-color: #222022;
	color: #f2f2f2;
}
.trs{
	text-align: center;
	background: #adb6c7;
}
.trs>td{
	width: 150px;
	color: #4c4947;
}
.trs>td>img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
/* ------------Ventana Modal de carrito------------ */
.ventana{
	width: 100%;
	display: none;
}
.ventanaCarro{
	border-radius: 5px;
	position: absolute;
	width: 400px;
	height: 200px;
	background: #cfcfcf;
	color: #4c4947;
	text-align: center;
}
.ventana h3 {
	margin: auto;
	font-size: 24px;
	color: #6fce20;
}
/* ----------------Modal Info Producto---------------- */
.infoProd{
	padding: 30px;
	top: 130px;
	position: fixed;
	background: #fff;
	border: 1px solid #cecece;
	border-radius: 50px;
	width: 800px;
	height: 500px;
}
.infoProd>h3{
	width: 95%;
	display: inline-flex;
	margin-bottom: 15px;
	text-align: center;
	font-size: 32px;
}
.infoProd>i{
	width: 25px;
	height: 25px;
	/* text-align: center; */
	padding: 4px;
	cursor: pointer;
	right: 0;
	display: inline-flex;
	background: red;
	color: #fff;
	border-radius: 50%;
	transform: rotate(45deg);
}
.cajaP> img{
	max-width: 250px;
	max-height: 200px;
}
.cajaP{
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.fichaTec{
	margin: 30px 10px;
}
.textFT{
	display: inline-flex;
}
.viewFT{
	border: none;
	border-radius: 25px;
	width: 100px;
	height: 30px;
	margin-left: 40px;
	background: #6fce20;
	color: #fff;
}
/* ----------------metodos de pago---------------- */
.pagar{
	margin: auto;
	height: auto;
	width: 400px;
	/* right: 10px; */
	text-align: center;
	border: 1px solid #fba919;
}
form> label {
	margin-left: 30px;
	margin-top: 10px;
	text-align: start;
	width: 50%;
	display: block;
}
form >input{
	margin: 1px;
	border: none;
	width: 80%;
	border-bottom: 1px solid #222022;
	outline-color: transparent;
}
.tyc{
	width: 100%;
	padding: 0 5px;
}
.pagar div h3 {
	width: auto;	
	color: #f2f2f2;
	background: #4c4947;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	border-radius: 10px;
}
.metodosPago {
	margin-top: 10px;
	display: inline-flex;
}
.MPagar {
	width: auto;
	padding: 10px;
	/* background: chartreuse; */
	margin-left: 10px;
	margin-right: 10px;
}
.pagar >.MPagar {
	display: inline-flex;
}
.transfer {
	padding: 3px;
	display: inline-flex;
	text-align: start;
	width: 90px;
	height: 30px;
	background-color: #5B86E5;
	border: none;
	border-radius: 5px;
}
.transfer > i {
	font-size: 25px;
	margin-right: 2px;
}
.transfer >p {
	text-decoration: none;	
	font-size: 18px;
}
.izipay {
	padding: 3px;
	/* display: inline-flex; */
	text-align: center;
	width: 60px;
	height: 30px;
	background-color: #dd350e;
	border: none;
	border-radius: 5px;
}
.izipay > i {
	font-size: 25px;
	margin-right: 2px;
}
.izipay >p {
	text-decoration: none;	
	font-size: 18px;
}
/* menu */
.Menu {
	top: 0;
}
.Menu .sub{
	background: #000;
	display: block;
	display: none;
}
.Menu a{
	text-align: center;
    display: flex;
    color: #efedef;
    font-weight: 300;
    text-decoration: none;
}
.Menu li{
	max-width: 200px;
	top: 0;
	margin: 0 6px;
	padding: 20px 7px;
	transition: ease-in-out 0.5s;
}
.Menu ul {
	text-align: center;
	padding: 0 15px;
    list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.Menu li:hover {
	background: rgba(206,204,206, .2);
}

/* ----------------------------------slider---------------------------------- */
.sliders{
	top: 0;
	width: 100%;
	height: 400px;
	justify-content: center;
	text-align: center;
	border: 1px solid #cecece;
	box-shadow: rgb(206,204,206,0.6);
	margin-bottom: 60px;
}

.sliders > img {
	width: 100%;
	height: 100%;
}

.animat {
	animation: aparecer 1.2s forwards;
}

.fixed {
	z-index: 1000;
    position: fixed;
    top: 0;
}
 
.N{
	display: flex;
	justify-content: space-between;
	height: 30px;
	width: 100%;
	align-items: center;
	padding: 0 40px;
}

.categorias{
    width: 20%;
	justify-content: space-between;
	align-items: center;
}

.catalogo{   
	display: flex;
	flex-wrap: wrap;
	color: #000;
	justify-content: space-evenly;
}

.cat ul{
    background: #cecece;
    list-style: none;
}

.cat ul ul{
    display: none;
}

.cat a {
	width: 80%;
    display: inline-block;
    padding: 15px 20px;
    color: #000;
	text-decoration: none;
}

.cat a:hover{
    background: rgba(76,73,71, 0.3);
}

.flecha {
	font-size: 17px;
	align-items: center;
	text-align: center;
	align-content: center;
	border-left: 1px solid #4c4947;
	display: inline-block;
	width: 20%;
	padding: 12px 10px;
	height: 49px;
	color: #1FDE82;
}

.flecha:hover {
	background: rgba(0, 0, 0, 0.3);
}

.cat >ul >li >ul >li {
	margin-left: 10px;
}

.cat ul li:hover ul{
    display: none;
    position: static;
}
/* --------------------cuerpo-------------------- */
.productos{
    width: 75%;
	margin-bottom: 30px;
	border-radius: 10px;
	padding: 0 30px 40px 30px;
	box-shadow: rgb(76,73,71);

}

.cuerpoP{
    border-color: lightseagreen;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	justify-content: space-around;
}
/* ------------------------------productos------------------------------ */
.img_producto {
	height: 200px;
	padding: 5px;
	border: 1px solid #f2f2f2;
}

.producto {
    width: auto;
    display: inline-block;
    padding: 10px;
	margin: 7px;
	background: transparent;
	border:1px solid #cecece;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6);
}

.name_producto {
	text-align: center;
	width: 170px;
    font-size: 15px;
}
.precio{
	display: inline-flex;
}

.btn{
	display: inline-flex;
	border: none;
	width: auto;
	height: auto;
	background: #6fce20;
	border-radius: 5px;
}
.btn >.icon-carrito {
	font-size: 18px;
	text-align: center;
}
.btn > .icon-carrito, .a���d {
	padding-top: 5px;
	text-align: center;
	margin-left: 7px;
	margin-right: 3px;
}

/* -------------------------end-page-part------------------------- */
/*Servicios*/
.service{
	display: flex;
	justify-content: space-between;
}
.service>img{
	width: 500px;
}
/*footer*/
footer{
	background: #4c4947;
	padding: 60px 0;
	overflow: hidden;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
}
.Pfooter{
	width: 20%;
	text-align: center;
}
.Pfooter h4{
	color: #f2f2f2;
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 30px;
}
.Pfooter a{
	/* display: block; */
	text-decoration: none;
	color: #fba919;
	font-weight: 300;
	transition: color .3s ease-in-out;
	margin-bottom: 10px;
}
.Pfooter a:hover{
	color: #1FDE82;
}
.Pfooter img{
	width: 100%;
	height: 100%;
}
.redesS {
	margin: auto;
	align-items: center;
}

.redesS i{
	font-size: 25px;
	display: inline-block;
	color: #fff;
	border: 1px solid #adb6c7;
	border-radius: 50%;
	width: 38px;
	height: 38px;
	padding: 2px;
	line-height: 36px;
	cursor: pointer;
	text-align: center;
	transition: all ease-in-out .3s;
}
.redesS i:hover{
	color: #fff;
	background: #1FDE82;
	border-color: #1FDE82;
}
@keyframes aparecer{
	0%{
		opacity: 0.4;
	}
	100%{
		opacity: 1;
	}
}

@media(max-width:1000px){

	.Menu{
		position: absolute; 
		background: #36D1DC;  
		background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC); 
		background: linear-gradient(to right, #5B86E5, #36D1DC);
		right: 0;
		width: 100vw;
		height: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		clip-path: circle(0.0% at 0 26%);
	}
	h1{
		font-size: 40px;
	}
	.menudos{
		position: absolute;
		-webkit-clip-path: circle(140.9% at 0 0);
		clip-path: circle(140.9% at 0 0);
	}
	.N{
		padding: 0 10px;
	} 
	.categorias {
		display: none;
	}
	.productos{
		width: 100vw;
		justify-content: space-evenly;
	}

	.N .Menu a{
		color: #000;
		text-align: center;
	}
	.hamb{
		position: absolute;
		width: 60px;
		text-align: center;
		display: flex;
		justify-content: center;
		justify-items: center;
	}
    
    .Menu {
		text-align: center;
        left: 0;
        transition: all 0.3s;
    }
    .Menu>ul{
		width: auto;
		height: auto;
        display: block;
	}
	.Menu>ul>li{
		height: auto;
	}
    .Menu ul li:hover {
		background: chocolate;
        /* display: none; */
    }

	.carrito{
		bottom: 60px;
		right: 20px;
		background: chartreuse;
		position: fixed;
	}
	/*service*/
	.service>img{
		width: 200px;
	}

	/*Redes sociales*/
	.Pfooter{
		width: 95%;
		margin-bottom: 40px;
	}
}
@media(max-width:590px){
	.logo {
		width: 100%;
	}
	.busqueda{
		display: none;
	}
	.producto {
		width: 300px;
		text-align: center;
	}
	.name_producto {
		width: auto;
	}
	/*Footer*/
	footer{
		justify-content: space-evenly;
	}
	.Pfooter{
		width: 100vw;
		margin-bottom: 40px;
		font-size: 20px;
	}
	.Pfooter h4{
		font-size: 30px;
		border-bottom: 1px solid #1FDE82;
	}
	.Pfooter>img{
		width: 100px;
		height: 100px;
	}

}
/* Ver tracking */
.tablaTracking{
	border-collapse: collapse;
	border: #000;
	color: #000;
}
.encabezadoTH>tr{
	width: 100%;
	background: #cecece;
	height: 30px;
}
.encabezadoTH>tr>th{
	padding: 7px;
	width: 150px;
}
.cuerpoTk>tr>td{
	text-align: center;
	padding: 15px;
	width: 100px;
}