@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
body{
	font-family: 'Roboto', sans-serif;
	/* background: #fba919; */
}
h1, h2, h3, h4, h5, h6{
	color: #1d273b;
	font-weight: 300;
}

header::before{
	content: "";
	display: block;
    /* box-sizing: inherit; */
} 

/* ---------------Antes del menu--------------- */
.contenedor {
	display: flex;
	justify-content: space-around;
}
.logo{
	display: inline-flex;
    padding-left: 15px;
	width: 15%;
}
.logo >img {
	width: 48px;
	height: 48px;
}

.busqueda{
	margin-left: 200px;
    display: inline-flex;
}

.cont {
	margin-top: 20px;
	display: inline-flex;
	height: 30px;
}

form >div .icon-search {
	display: inline-flex;
	padding: 2px;
	height: 100%;
	width: 20px;
	background: #6d6c6d;
	color: #575353;
}

form >div >input{
	color: #000;
	width: 500px;
	height: 100%;
	border: 1px solid #ccc;
	outline: none;
}

/* menu */
.cat{
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

.cat ul {
	cursor: pointer;
	list-style: none;
	text-decoration: none;
	width: 140px;
}
.cat li {
	display: flex;
	width: 180px;
	position: relative;
	line-height: 2rem;
}

.cat li ul{
	position: absolute;
	display: none;
}
.cat li:hover > ul{
	display: block;
}
.cat a{
	width: 180px;
	color: #000;/*#f2f2f2*/
	display: block;
	text-align: center;
	text-decoration: none;
	transition: .3s;
}
.menu ul ul{
	display: none;
}

/* Primer nivel */
.menu {
	margin-top: 5px;
	background: none;
	display: table;
}

.menu > a{
	color: #f2f2f2;
}
/* .cat > ul > li {
	float: left;
} */

/* Segundo nivel */
.cat li li {
	padding: 2px 5px;
	background: #f0eeee;
}
.menu > ul{
	top: 100%;
}

.flecha {
	display: inline-flex;
	cursor: pointer;
	font-size: 17px;
	align-items: center;
	text-align: center;
	align-content: center;
	width: 30px;
	padding-left: 10px;
	height: auto;
	color: #1FDE82;
}

.cat a:hover {
	background: rgba(192, 192, 188, 0.2);
}
/* --------------------------------all menu-------------------------------- */
.default {
	display: none;
}

.hamb {
	display: none;
}

nav{
	top: 0px;
	width: 100%;
	height: 105px;
	background: #1254a5;
	border-bottom: 1px solid transparent;
	box-shadow: 1px 1px 10px 0 rgba(103, 103, 103, 0.2);
}

.carrito {
	font-size: 26px;
	text-align: center;
	position: fixed;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: #fff;
	padding: 6px 4px 0 0;
	transition: ease-in-out 0.7s;
	z-index: 10;
	right: 30px;
}
/* -----------------tabla del carrito de compras----------------- */
.header{
	font-size: 35px;
	text-align: center;
	width: 100%;
	height: 120px;
	background: #cecece;
}
.header >.shopcar {
	padding-top: 10px;
	width: 120px;
	height: 100px;
	
}
.cuerpocar {
	display: inline-flex;
	justify-content: space-between;
}
.tablaCarrito{
	margin-top: 20px;
	border-collapse: collapse;
}
.cbx {
	width: auto;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
.cbx>input {
	display: inline-flex;
	width: 15px;
	height: 15px;
}
.tablaCarrito tr:nth-child(even) {
	background-color: #eee;
}
.tablaCarrito tr:nth-child(2) {
	background-color: #eee;
}
.tablaCarrito tr:nth-child(odd) {
	background-color: #fff;
}
.trH>td {
	text-align: center;
	background-color: #222022;
	color: #f2f2f2;
}
.trs{
	text-align: center;
	background: #adb6c7;
}
.trs>td{
	width: 150px;
	color: #4c4947;
}
.trs>td>img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
/* ------------Ventana Modal de carrito------------ */
.ventana{
	width: 100%;
	display: none;
}
.ventanaCarro{
	border-radius: 5px;
	position: absolute;
	width: 400px;
	height: 200px;
	background: #cfcfcf;
	color: #4c4947;
	text-align: center;
}
.ventana h3 {
	margin: auto;
	font-size: 24px;
	color: #6fce20;
}
/* ----------------Modal Info Producto---------------- */
.infoProd{
	padding: 30px;
	top: 130px;
	position: fixed;
	background: #fff;
	border: 1px solid #cecece;
	border-radius: 50px;
	width: 800px;
	height: 500px;
}
.infoProd>h3{
	width: 95%;
	display: inline-flex;
	margin-bottom: 15px;
	text-align: center;
	font-size: 32px;
}
.infoProd>i{
	width: 25px;
	height: 25px;
	padding: 4px;
	cursor: pointer;
	right: 0;
	display: inline-flex;
	background: red;
	color: #fff;
	border-radius: 50%;
	transform: rotate(45deg);
}
.cajaP> img{
	justify-items: center;
	justify-content: center;
	text-align: center;
	max-width: 250px;
	max-height: 200px;
}
.cajaP{
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.fichaTec{
	margin: 30px 10px;
}
.textFT{
	display: inline-flex;
}
.viewFT{
	border: none;
	border-radius: 25px;
	width: 100px;
	height: 30px;
	margin-left: 40px;
	background: #6fce20;
	color: #fff;
}
/* ----------------metodos de pago---------------- */
.pagar{
	margin: auto;
	height: auto;
	width: 400px;
	/* right: 10px; */
	text-align: center;
	border: 1px solid #fba919;
}
form> label {
	margin-left: 30px;
	margin-top: 10px;
	text-align: start;
	width: 50%;
	display: block;
}
form >input{
	margin: 1px;
	border: none;
	width: 80%;
	border-bottom: 1px solid #222022;
	outline-color: transparent;
}
form >select{
	margin-top: 10px;
    padding: 5px 8px;
    width: 80%;
	border: 1px solid #8a8787;
	box-shadow: rgba(67, 132, 218, 0.5);
	outline-color: rgba(67, 132, 218,0.5);
}
.tyc{
	width: 100%;
	padding: 0 5px;
}
.pagar div h3 {
	width: auto;	
	color: #f2f2f2;
	background: #4c4947;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	border-radius: 10px;
}
.metodosPago {
	margin-top: 10px;
	display: inline-flex;
}
.MPagar {
	width: auto;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.pagar >.MPagar {
	display: inline-flex;
}
.transfer {
	padding: 3px;
	display: inline-flex;
	text-align: start;
	width: 90px;
	height: 30px;
	background-color: #5B86E5;
	border: none;
	border-radius: 5px;
}
.transfer > i {
	font-size: 25px;
	margin-right: 2px;
}
.transfer >p {
	text-decoration: none;	
	font-size: 18px;
}
.izipay {
	padding: 3px;
	/* display: inline-flex; */
	text-align: center;
	width: 60px;
	height: 30px;
	background-color: #dd350e;
	border: none;
	border-radius: 5px;
}
.izipay > i {
	font-size: 25px;
	margin-right: 2px;
}
.izipay >p {
	text-decoration: none;	
	font-size: 18px;
}
/*----------------------------------slider---------------------------------- */
.sliders{
	top: 0;
	width: 100%;
	height: 400px;
	justify-content: center;
	text-align: center;
	border: 1px solid #cecece;
	box-shadow: rgb(206,204,206,0.6);
	margin-bottom: 60px;
}

.sliders > img {
	width: 100%;
	height: 100%;
}

.animat {
	animation: aparecer 1.2s forwards;
}

.fixed {
	z-index: 1000;
    position: fixed;
    top: 0;
}
 
.catalogo{   
	display: flex;
	flex-wrap: wrap;
	color: #000;
	justify-content: space-evenly;
}

/* --------------------cuerpo-------------------- */
.productos{
    width: 75%;
	margin-bottom: 30px;
	border-radius: 10px;
	padding: 0 30px 40px 30px;
	box-shadow: rgb(76,73,71);

}

.cuerpoP{
    border-color: lightseagreen;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	justify-content: space-around;
}
/* ------------------------------productos------------------------------ */
.img_producto {
	height: 200px;
	padding: 5px;
	border: 1px solid #f2f2f2;
}

.producto {
    width: auto;
    display: inline-block;
    padding: 10px;
	margin: 7px;
	background: transparent;
	border:1px solid #cecece;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6);
}

.name_producto {
	text-align: center;
	width: 170px;
    font-size: 15px;
}
.precio{
	display: inline-flex;
}

.btn{
	display: inline-flex;
	border: none;
	color: #fff;
	width: auto;
	height: auto;
	background: #1254a5;
	border-radius: 5px;
}
.btn >.icon-carrito {
	font-size: 18px;
	text-align: center;
}
.btn > .icon-carrito, .añd {
	padding-top: 5px;
	text-align: center;
	margin-left: 7px;
	margin-right: 3px;
}

/* -------------------------end-page-part------------------------- */
/*Servicios*/
.service{
	display: flex;
	justify-content: space-between;
}
.service>img{
	width: 500px;
}
/*footer*/
footer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    background: rgb(34, 32, 34);
    padding: 60px 0px;
    overflow: hidden;
    margin: auto;
}
.Pfooter{
	width: 20%;
	text-align: center;
}
.Pfooter h4{
	color: #f2f2f2;
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 30px;
}
.Pfooter a{
	/* display: block; */
	text-decoration: none;
	color: #fba919;
	font-weight: 300;
	transition: color .3s ease-in-out;
	margin-bottom: 10px;
}
.Pfooter a:hover{
	color: #1FDE82;
}
.Pfooter img{
	width: 100%;
	height: 100%;
}
.redesS {
	margin: auto;
	align-items: center;
}

.redesS i{
	font-size: 25px;
	display: inline-block;
	color: #fff;
	border: 1px solid #adb6c7;
	border-radius: 50%;
	width: 38px;
	height: 38px;
	padding: 2px;
	line-height: 36px;
	cursor: pointer;
	text-align: center;
	transition: all ease-in-out .3s;
}
.redesS i:hover{
	color: #fff;
	background: #1FDE82;
	border-color: #1FDE82;
}
@keyframes aparecer{
	0%{
		opacity: 0.4;
	}
	100%{
		opacity: 1;
	}
}

@media(max-width:1000px){

	h1{
		font-size: 40px;
	}
	.cat {
		transition: all 0.3s;
		transform: translateX(-100%);
		display: none;
	}
	.cat ul , .cat li, .cat a{
		width: 100%;
		display: block;
	}
	.cat ul li:hover ul{
		display: none;
		position: static;
	}
	.cat  ul li>a{
		color: #000;
	}
	.cat ul li >a >div {
		position: absolute;
		right: 20px;
	}
	
	.menudos{
		top: 105px;
		left: 0;
		background: #e2e2e2;
		position: absolute;
		display: block;
		width: 100%;
		transform: translateX(0%);
	}

	.productos{
		width: 100vw;
		justify-content: space-evenly;
	}

	.hamb{
		top: 20px;
		position: relative;
		width: 60px;
		text-align: center;
		display: flex;
		justify-content: center;
		justify-items: center;
	}
	.hamb>i{
		color: #fff;
		font-size: 30px;
	}

	.carrito{
		bottom: 60px;
		right: 20px;
		background: #1254a5;
		position: fixed;
	}
	/*service*/
	.service>img{
		width: 200px;
	}

	/*Redes sociales*/
	.Pfooter{
		width: 95%;
		margin-bottom: 40px;
	}
}
@media(max-width:590px){
	.nav{
		display: flex;
	}
	.logo {
		width: auto;
		display:flex;
		position:relative;
		float: right;
		margin: 5px 10px 0 0;
	}
	.logo>img{
		width: 80px;
		height: 80px;
	}
	.busqueda{
		display: none;
	}
	.producto {
		width: 300px;
		text-align: center;
	}
	.img_producto {
		width: 240px;
		height: auto;
	}
	.name_producto {
		width: auto;
	}
	/*Footer*/
	footer{
		justify-content: space-evenly;
	}
	.Pfooter{
		width: 100vw;
		margin-bottom: 40px;
		font-size: 20px;
	}
	.Pfooter h4{
		font-size: 30px;
		border-bottom: 1px solid #1254a5;/*1FDE82*/
	}
	.Pfooter>img{
		width: 100px;
		height: 100px;
	}
	.infoProd{
		width: 600px;
		margin-right: 30px;
		top: 40px;
		min-height: 400px;
	}
	.infoProd>h3{
		width: 90%;
		margin: 0;
	}
	.cajaP> img{
		max-width: 300px;
		max-height: 250px;
		margin-bottom: 10px;
	}
	.cajaP{
		padding: 20px;
		display: block;
		flex-wrap: nowrap;
		justify-content: center;
	}
	.description{
		margin-top: 3.5px;
	}

}
/* Ver tracking */
.tablaTracking{
	border-collapse: collapse;
	border: #000;
	color: #000;
}
.encabezadoTH>tr{
	width: 100%;
	background: #cecece;
	height: 30px;
}
.encabezadoTH>tr>th{
	padding: 7px;
	width: 150px;
}
.cuerpoTk>tr>td{
	text-align: center;
	padding: 15px;
	width: 100px;
}