@import url('https://fonts.googleapis.com/css2? family = Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
body{
	font-family: 'Roboto', sans-serif;
	/* background: #000; */
}
h2,h3,h4,h5,h6 {
    font-weight: 300;
}
/* iconoc box */
.insta {
    font-size: 20px;    
}
nav {
    width: 100%;
    height: 30px;
    background: #000;
    display: flex;
    justify-content: space-around;
    /* box-shadow: rgba(0, 0, 0, 0.6); */
}
nav>ul {
    list-style: none;
    display: inline-flex;
    width: auto;
    color: #f2f2f2;
}
nav >ul >li{
    padding-left: 20px;
}
/* redes menu */
.smenu {
    font-size: 20px;
}
.smenu>li>a{
    color: #fff;
    text-decoration: none;
}
.mfb:hover {
    color: #0d549c;
    transition: .3s all ease-in-out;
}
.mwp:hover {
    color: #17ee25;
    transition: .3s all ease-in-out;
}
.minsta:hover {
    color: #fee140;
    transition: .3s all ease-in-out;
}
.cabecera{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to right, #8d2925 0%, #ff0844 100%);
}
.texto {
    padding: 60px;
    width: 45%;
    height: auto;
}
.texto>h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    color: #f2f2f2;
}
.texto>h3, .texto>p {
    color: #cecece;
}
.imagen{
    width: 45%;
}
.imagen>img {
    margin-left: 20px;
    width: 350px;
    height: 350px;
}

.servicios {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 20px;
    background: #dbdbdb;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
}
.servicio {
    border-radius: 30px;
    padding: 20px;
    width: 26%;
    text-align: justify;
    height: auto;
    background: #fff;
    margin-bottom: 30px;
}
.servicio>div{
    width: 60px;
    height: 60px;
    color: #f2f2f2;
    background: #b31217;
    border-radius: 50%;
    text-align: center;
    padding: 14px 3px 0 3px;
    font-size: 28px;
    margin-bottom: 10px;
}
.ico {
    width: 100px;
    height: 100px;
    background: #b31217;
    border-radius: 50%;
    text-align: center;
    padding: 14px 3px 0 3px;
}
.ico>img {
    width: 35px;
    height: 35px;
}

.btn-servicios{
    font-size: 18px;
    width: 100px;
    height: 25px;
    border-radius: 7px;
    background-color: #b31217;
    border: none;
    box-shadow: rgba(0, 0, 0, 2);
}
.btn-servicios>a {
    text-decoration: none;
    color: #f2f2f2;
}
footer {
    display: flex;
    flex-wrap: wrap;
    background: #000;
    width: 100%;
    height: auto;
    bottom: 0;
    margin-bottom: 0;
    justify-content: space-around;
}
footer h3{
    text-align: center;
    width: 200px;
    border-bottom: 1px solid #b31217;
}
/* redes sociales */
.redesS, .contactos {
    padding: 20px;
    color: #fff;
}
.rs {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #b31217;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.rs>i {
    cursor: pointer;
    padding: 7px 7px 0 7px;
    display: flex;
    font-size: 35px;
}
.fb:hover {
    background: #0d549c;
    transition: 0.4s all ease-in-out;
}
.wp:hover{
    background: #17ee25;
    transition: 0.4s all ease-in-out;
}
.redesS>.insta:hover{
    background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    transition: 0.4s all ease-in-out;
}
/* contactos */
.contactos>div {
    margin: 10px;
    width: 200px;
    text-align: center;
    font-size: 30px;
}
/* -------------------------------------desarrollo web-------------------------------------- */
.intro {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 70vh;
    padding: 20px 0;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.waveInf {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    height: 200px;
}
.introImg>img {
    padding-left: 20px;
    height: 350px;
}
.tituloDesing {
    color: #fff;
    width: 400px;
    font-size: 30px;
    font-family: 'PT Sans Caption', sans-serif;
}

.info {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 300px;
    padding: 30px;
}

/* imagen de info */
.imgDev>img {
    width: 300px;
    height: 200px;
}

/* cajas de info */
.infoBody {
    display: block;
    padding: 10px;
}

/* texto de info */
.infoDiv {
    display: flex;
    padding: 10px;
}
.infoDiv>i {
    padding: 5px 5px 0 5px;
    text-align: center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff0844;
    color: #f2f2f2;
}
.infoDiv>h4{
    text-align: justify;
    padding: 2px 10px;
    width: 600px;
    height: auto;
    background: #cecece;
}
/* precios */
.tablasPrecio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #dbdbdb;
    height: auto;
    padding: 20px;
    justify-content: space-around;
}
/* boostrap tabla */
.row-flex {
    display: flex;
    flex-wrap: wrap;
    /* -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap; */
}

.priceTable {
    min-width: 300px;
    max-width: 400px;
    min-height: 320px;
    background-color: #fff;
    border-radius: 0 0 0 25px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 8px #ccc;
    margin: 10px auto;
    padding: 0 0 8px 0;
    text-align: center;
}

.priceTable span {
    display: block;
}

.priceTable span:first-child {
    padding: 16px 0 0 0;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.priceTable span:nth-child(2) {
    padding: 0 0 16px 0;
}

.priceTable span:nth-child(3) {
    padding: 8px 0;
    font-weight: bold;
    font-size: 1.2em;
}

.priceTable > ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.priceTable > ul > li {
    display: block;
    padding: 8px 0;
}

.priceTable > ul > li:first-child {
    border-top: 1px solid #ccc;
}

.priceTable > ul > li {
    border-bottom: 1px solid #ccc;
}

.priceTable a,
.priceTable a:active,
.priceTable a:focus,
.priceTable a:hover,
.priceTable a:visited {
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .2s;
}

/* color encabezados , general */
.black span:first-child {
    background-image: linear-gradient(to right, #8d2925 0%, #ff0844 100%);
    color: #fcfcfc;
}

.black span:nth-child(2) {
    background-image: linear-gradient(to right, #8d2925 0%, #ff0844 100%);
    color: #D5D8DC;
}

.black a, .blueM a{
    border: 3px solid #212121;
    color: #212121;
    margin-top: 8px;
}

.black a:hover {
    background-color: #212121;
    color: #fff;
}
/* background-image: linear-gradient(to right, #8d2925 0%, #ff0844 100%); */
.background {
    position: relative;
    background: url(../img/bck-serv.jpg) no-repeat center center fixed;
    height: 100vh;
    /* background-image: url(../img/bck-serv.jpg); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
/* ----------------------------------Ecomerce---------------------------------- */
.introE{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 70vh;
    padding: 20px 0;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.introImgE>img{
    /* padding-left: 20px; */
    margin-left: 100px;
    height: 350px;
}
.waveEcomerce{
    height: 100%; 
    width: 55%;
    top: 0;
    position: absolute;
    right: 0;
}
.tituloE{
    right: 0;
    color: #000;
    width: 400px;
    font-size: 30px;
    font-family: 'PT Sans Caption', sans-serif;
}
.infoE{
    background: #fcf9f9;
    padding: 5px 80px 30px 80px;
}
.infoE>h3,.infoE>h4{
    font-size: 30px;
    color: #b31217;
    padding: 10px 0;
}
.infoE>p{
    width: 1100px;
    text-align: justify;
    font-size: 18px;
}
.priceTableE {
    min-width: 300px;
    max-width: 400px;
    min-height: 320px;
    background-color: #fff;
    border-radius: 0 0 0 25px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 8px #ccc;
    margin: 10px auto;
    padding: 0 0 8px 0;
    text-align: center;
}

.priceTableE span {
    display: block;
}

.priceTableE span:first-child {
    padding: 16px 0 0 0;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.priceTableE span:nth-child(2) {
    padding: 0 0 16px 0;
}

.priceTableE span:nth-child(3) {
    padding: 8px 0;
    font-weight: bold;
    font-size: 1.2em;
}

.priceTableE > ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.priceTableE > ul > li {
    display: block;
    padding: 8px 0;
}

.priceTableE > ul > li:first-child {
    border-top: 1px solid #ccc;
}

.priceTableE > ul > li {
    border-bottom: 1px solid #ccc;
}
.priceTableE a,
.priceTableE a:active,
.priceTableE a:focus,
.priceTableE a:hover,
.priceTableE a:visited {
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .2s;
}
.greenE span:first-child {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    color: #fff;
}
.greenE span:nth-child(2) {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    color: #fff;
}
/* -----------------------------Programas a medida----------------------------- */
.introM{
    padding: 20px 40px 0 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color:  #fff;
    height: 65vh;
}
.tituloM{
    width: 300px;
    font-size: 24px;
    left: 0;
}
.tituloM>i{
    font-size:80px;
}
.introImgM>img{
    width: 450px;
}
.waveMedida{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.description{
    margin: auto;
}
.description>div{
    font-size: 20px;
    padding: 0 40px;
}
.blueM span:first-child {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: #fff;
}
.blueM span:nth-child(2) {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: #fff;
}
.blueM a:hover {
    background-color: #4facfe;
    color: #fff;
}
/* -------------------classroom------------------- */
.introC{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.introImgC{
	background: -webkit-linear-gradient(to right, hsl(340, 95%, 50%, 0.671), hsl(317, 45%, 52%, 0.664)), url(../img/img_classroom.jpg);  
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, hsl(340, 95%, 50%, 0.671), hsl(317, 45%, 52%, 0.664)), url(../img/img_classroom.png);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100%;
    background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.tituloC{
    right: 100px;
    /* margin: auto; */
    color: #f2f2f2;
    width: 600px;
    font-size: 30px;
    font-family: 'PT Sans Caption', sans-serif;
    position: absolute;
    text-align: center;
}
.classroom>img{
    width: 80px;
}
.tituloC>h2,.tituloC>h3,.tituloC>p{
    text-align: justify;
}
.waveC{
    width: 100%;
    bottom: 0;
    position: absolute;
    right: 0;
}
.redC span:first-child {
	background: linear-gradient(to right, hsl(340, 95%, 50%, 0.671), hsl(317, 45%, 52%, 0.664));
    color: #fff;
}
.redC span:nth-child(2) {
	background: linear-gradient(to right, hsl(340, 95%, 50%, 0.671), hsl(317, 45%, 52%, 0.664));
    color: #fff;
}

/* formulario general*/
.formContrato {
    position: relative;
    border-radius: 30px;
    transform: translateY(75px);
    background-image: linear-gradient(to right, #8d2925 0%, #ff0844 100%);
    width: 400px;
    min-height: 400px;
    height: auto;
    padding: 20px;
    margin: auto;
    color: #fff;
}
.formContrato>h2 {
    text-align: center;
    padding: 5px;
}
.formContrato>label {
    margin: 10px;
    display: block;
    width: 100%;
    text-align: start;
}
.formContrato>input,select {
    -webkit-appearance: none;
    color: #fff;
    background: none;
    background-color: transparent;
    margin: 5px 0;
    height: 25px;
    width: 90%;
    outline: none;
}
.formContrato>select {
    border: 2px solid #fff;
    border-radius: 10px;
}
.formContrato>input {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #fff;
    border-left-color: transparent;
}
.btnEnviar {
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    background: none;
    border-radius: 20px;
    width: 90%;
    height: auto;
    padding: 5px;
    color: #fff;
    border: 2px solid #fff;
}
.btnEnviar:hover {
    cursor: pointer;
    color: #000;
    background: #fff;
}
#msgF{
    transform: translateY(-400px);
    z-index: 10;
    position: absolute;
    text-align: center;
}
.alertS{
    width: 200px;
    height: 100px;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    background: #fff;
}
.alertS>i{
    font-size: 40px;
}

/* thanks */
.mensaje{
    font-family: 'PT Sans Caption', sans-serif;
    height: 100vh;
    background: #f2f2f2;
    text-align: center;
}
.mensaje>section {
    transform: translateY(200px);
    margin: auto;
    padding: 20px;
    height: auto;
    max-width: 720px;
    border-radius: 20px;
    background: #44dbe6;
}
.mensaje>section> p:nth-child(3){
    font-size: 12px;
    color: #962828;
}
.mensaje>section>h3>a{
    font-size: 42px;
}
.mensaje>section> p{
    font-size: 18px;
}
.mensaje>section>h3{
    margin-bottom: 30px;
    font-size: 30px;
}


/*------------------------------------ diseño responsive ------------------------------------*/
@media(max-width:1000px){ /*tamaño tablets*/
    
}
@media(max-width:590px){ /*tamaño celus*/
    nav{
        padding: 7px;
        width: 100%;
        height: auto;
        font-size: 20px;
    }
    .cabecera{
        display: block;
    }
    .texto{
        width: 100%;
        margin-bottom: 0;
    }
    .texto>h1{
        margin-top: 0;
        margin-left: 10px;
        font-size: 25px;
    }
    .texto>h3, .texto>p{
        margin-left: 10px;
        font-size: 18px;
    }
    .imagen{
        margin: auto;
    }
    .imagen>img{
        padding: 0 0 0 40px;
        width: 200px;
        height: 150px;
    }
    .wave{
        height: 230px;
    }
    .servicio{
        width: 90%;
    }
    footer{
        display: block;
    }
    .redesS>h3,.contactos>h3{
        margin: auto;
        width: 80%;
    }
    .contactos>p{
        text-align: center;
    }

    /* --------------desarrollo web-------------- */
    .introImg{
        width: 100%;
    }
    .introImg>img{
        width: 200px;
        height: auto;
    }
    .intro{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .waveInf{
        height: 80px;
    }
    .tituloDesing{
        font-size: 16px;
    }
    .info{
        display: block;
        height: auto;
    }
    .info>h2{
        display: none;
    }
    .info>.imgDev{
        width: 100%; 
    }
    /* --------------ecomerce-------------- */
    .introImg{
        width: 110px;
        height: auto;
    }
    .introImgE>img{
        width:  200px;
    }
    .tituloE{
        margin-top: 15px;
        margin-right: 30px;
        width: 160px;
        font-size: 18px;
    }
    .waveEcomerce{
        height: 100%;
        width: 400px;
    }
    .secInfoE{
        max-width: 400px;
    }
    .infoE>p{
        max-width: 400px;
    }

    /* proframas a medida */
    .introM{
        padding: 0;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .tituloM{
        transform: translateY(-50px);
        left: initial;
        padding: 0 20px;
        width: 100%;
        height: 150px;
        font-size: 20px;
        text-align: center;
    }
    .introImgM>img{
        transform: translateY(-50px);
        width: 250px;
    }
    .tituloM>i{
        font-size:24px;
    }
    .description>div>h2{
        font-size: 24px;
    }
    .description>div>p{
        font-size: 16px;
    }
    
    /* -----------------classroom----------------- */
    .tituloC{
        padding: 20px;
        right: 0;
        font-size: 20px;
    }
    .infoC>div{
        padding: 20px;
    }
    .infoC>div>h2{
        margin-bottom: 10px;
    }
}